doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='Nam Tran')
    link(rel='icon', href='/favicon.ico')

    title Starter Template for Bootstrap

    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU="
      crossorigin="anonymous"
    )
    link(href='/starter-template.css', rel='stylesheet')

  body
    .container
      br
      header
        h3.float-left ESQ Slow Control
      #clock.float-right(style='color: red;')
    // </nav>
    ul.nav.nav-tabs.container
      li.nav-item
        a.nav-link.active(data-toggle='tab', href='#mainTab', role='tab') Main Control
      li.nav-item
        a.nav-link(data-toggle='tab', href='#pulserTab', role='tab') Pulser Status
      li.nav-item
        a.nav-link(data-toggle='tab', href='#logTab', role='tab') Log Messages
      li.nav-item
        a.nav-link(data-toggle='tab', href='#timingTab', role='tab') Pulse Timing
      // <li class="nav-item">
      // </li>
    .tab-content
      include tab1.pug
